/* nav-bar style */
a.nav-link {
    color: #e6f1ff;
    margin: 0 10px;
    font-size: 16px;
  }
  
  #navbarNav a:hover {
    color: #64ffda;
  }
  button.btn.btn-outline-success {
 display: flex;
 flex-direction: row;
 padding: 12px 28px;

 position: absolute;
 width: 104px;
 height: 43px;
 left: 1201px;
 top: 25px;

 background: #21B573;
 border-radius: 33px;
  }
  .icon {
    font-weight: 700;
    padding-left: 20px;
    font-size: 2rem;
  }